/*TABLET - RETRATO (ENTRE 481PX E 768PX)*/
@media all and (min-width: 481px) and (max-width: 768px){
    /* ---------------------------------
    MENU RESPONSIVO
    --------------------------------- */
    .menu_desktop{display: none;}
    
    .menu_responsivo{display: block;}
    
    .logo_menu_responsivo{
        margin-top: 1.9%;
        margin-bottom: 1.9%;
    }

    .icone_menu_responsivo{
        margin-top: 2.1%;
    }
    
    .links_menu_mobile ul li{ 
        font: 0.9em 'dual300';
        padding-top: 1.8%;
        padding-bottom: 1.8%;
    }
    /* ---------------------------------
    FIM DO MENU RESPONSIVO
    --------------------------------- */
    
    /* ---------------------------------
    FIM DO BANNER RESPONSIVO
    --------------------------------- */    
    .img_banner_desktop{display:none;}
    .img_banner_responsivo{display: block;}
    .cbp-bicontrols {
	z-index: 999;
    }
    /* ---------------------------------
    FIM DO BANNER RESPONSIVO
    --------------------------------- */    
    
    /* ---------------------------------
    ICONES DO BANNER
    --------------------------------- */    
    .cbp-bicontrols {
	right: 3%;
        bottom: 0%;
    }
    .cbp-bicontrols span {
	width: 40px;
	height: 80px;
    }
    
    .cbp-bicontrols span:before {
	font-size: 40px;
        line-height: 80px;
    }
    /* ---------------------------------
    FIM DOS ICONES DO BANNER
    --------------------------------- */
    
    /* ---------------------------------
    VÍDEO DO HOME 
    --------------------------------- */
    .logo_vd_home img{
        padding-top: 9%;
        width: 27%;
    }
    
    .txt_grande{display: none;}
    .txt_pequeno{display: none;}

    .txt2_vd_home h1{
        width: 70%;
        padding-bottom: 4%;
        font: 1.1em 'dual300';
    }
    
    .env_video{
        margin-top: 0;
        width: 80%;
        padding-bottom: 1%;
    }
    /* ---------------------------------
    FIM DO VÍDEO DO HOME 
    --------------------------------- */
    
    /* ---------------------------------
    EXPLICAÇÃO HARMONY HOME
    --------------------------------- */
    .env_img_txt:first-child{
        margin-top: 12% !important;
    }

    .env_img_txt:last-child{
        margin-bottom: 7%;
    }
    
    .img_esquerda img,
    .img_direita img{
        width: 40%;
    }
    
    .txt_direita p,
    .txt_esquerda p{
        width: 95%;
        font: 1.1em 'dual300';
    }

    .txt_direita p,
    .txt_esquerda p{
        text-align: justify;
    }
    
    .txt_direita a, .txt_esquerda a {
    font-size: 0.8em;
    }
    /* ---------------------------------
    FIM DA EXPLICAÇÃO HARMONY HOME
    --------------------------------- */ 

    /* ---------------------------------
    GRAFICOS DE TAXAS NO HOME
    --------------------------------- */
    .tt_graficos_home_responsivo{
        display: block;
        width: 96%;
        font: 1.7em 'dual300';
        margin-top: 10%;
        padding-left: 2%;
        padding-right: 2%;
        margin-bottom: 7%;
    }
    
    .tt_graficos_home{
        display: none;
    }
    
    .graficos_home{
        margin-bottom: 8.5%;
    }
    
    .img_tx_falso_positivo,
    .img_tx_deteccao{
        width: 100%; 
        text-align: center !important;
    }
    
    .img_tx_falso_positivo img{
        float: none !important;
        width: 75%;
        margin: 0 auto; 
    }

    .img_tx_deteccao img{
        float: none !important;
        width: 50%;
        padding-top: 8%;
        margin: 0 auto; 
    }

    /* ---------------------------------
    FIM DOS GRAFICOS DE TAXAS NO HOME
    --------------------------------- */
    
    /* ---------------------------------
    PORQUE O HARMONY?
    --------------------------------- */
    .tt_pq_harmony h1{
        font: 2em 'dual300';  
        margin-top: 9%;
        margin-bottom: 0px; 
    }
    
    .pq_harmony{
        margin-top: 8%;
    }
    
    .pq_harmony:last-child{
        margin-bottom: 6% !important;
    }
    
    .img_pq_harmony{
        margin-right: 9% !important;
    }
    
    .img_pq_harmony img{
        margin-right: 10%;
    }
    
    .txt_pq_harmony{
        margin-left: 0%;
    }
    
    .txt_pq_harmony p{
        width: 82%;
        font: 1.1em 'dual300'; 
    }
    
    .txt_pq_harmony ul li{
        width: 82%;
    }
    
    .link_vermais_grafico{
        margin-top: 5%;
        margin-bottom: 10% !important;
    }

    .link_vermais_grafico a{
        font: 1.1em 'dual300';
        font-weight: bold;
        padding: 1.5%;
        padding-left: 4%;
        padding-right: 4%;
    }
    /* ---------------------------------
    FIM DO PORQUE O HARMONY?
    --------------------------------- */
    
    /* ---------------------------------
    DESCRITIVO SAIBA MAIS RESPONSIVO
    --------------------------------- */
    .link_cont_desc{display: none;}

    .tt_umpouco_ciencia{display: none;}
    
    .tt_umpouco_ciencia_responsivo{
        display: block;
        margin-top: 13%; 
        padding-top: 0.8%;
        padding-bottom: 0.8%;
    }

    .menus_desc_responsivo{display: block;}

    .env_desc_saibamais_responsivo h3{
        font: 1.1em 'dual300';
    }

    .env_desc_saibamais_responsivo p{
        font: 1em 'dual300';
    }    
    
    .accordion_link_resp1{padding-top: 1.5%;}
    .accordion_link_resp7{margin-bottom: 4%;}
    
    /* ---------------------------------
    FIM DO DESCRITIVO SAIBA MAIS RESPONSIVO
    --------------------------------- */
    
    /* ---------------------------------
    AVISO SAIBA MAIS
    --------------------------------- */
    .text_aviso_1{display: none;}
    .text_aviso_2{display: block;}
    
    .img_aviso{
        width: 100px; 
        margin-right: 5%;
        margin-top: 20%;
        margin-bottom: 20%;
    }

    .texto_aviso{
        float: left; 
        width: 80%;
        margin-top: 14%;
        font: 1.1em 'dual300';
    }
    /* ---------------------------------
    FIM DO AVISO SAIBA MAIS
    --------------------------------- */
    
    /* ---------------------------------
    TRIAGEM ATUAL 
    --------------------------------- */
    .tt_triagem_atual{
        width: 95%;
        padding-right: 2.5%;
        padding-left: 2.5%;
        text-align: center; 
        font: 1.3em 'dual300';
        margin-top: 10%; 
        font-weight: bold;
    }

    
    .grafico_triagem_atual{
        float: left; 
        width: 100%;
        text-align: center !important; 
    }
    
    .grafico_triagem_atual img{
        float: none !important;
        width: 82%;
        margin-right: 0 !important;
        margin-top: 2%;
        margin-bottom: 0;
    }

    .txt_triagem_atual{
        float: left;
        width: 100%;
    }
    
    .txt_triagem_atual ul{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 10%;
    }

    .txt_triagem_atual ul li{
        text-align: justify;
        padding-top: 5%;
        font-size: 1.1em;
    }
    /* ---------------------------------
    FIM DA TRIAGEM ATUAL 
    --------------------------------- */
    
    /* ---------------------------------
    HARMONY PARTE 1 - SAIBA MAIS
    --------------------------------- */
    .tt_uma_nova_op{display: none;}

    .tt_uma_nova_op_responsivo{display: block;}
    
    .topicos_harmony{ 
        width: 85%;
        margin-left: 7.5%;
    }

    .topicos_harmony h3{
        font: 1.3em 'dual300';
        font-weight: bold;
    }

    .topicos_harmony ul{
        width: 95%; 
        margin-left: 5%;
    }

    .topicos_harmony ul li{ 
        width: 96%; 
        font: 1.1em 'dual300';
        margin-bottom: 5%; 
    }

    .topicos_harmony ul li:last-child{
        margin-bottom: 8%;
    }

    .circulo{
        width: 10px;
        height: 10px;
        margin-bottom: 30px;
    }
    /* ---------------------------------
    FIM DO HARMONY PARTE 1 - SAIBA MAIS
    --------------------------------- */
    
    /* ---------------------------------
    HARMONY PARTE 2
    --------------------------------- */
    .tt_faixa_harmony_parte2{display: none;}
    .tt_faixa_harmony_parte2_responsivo{
        display: block;
        font: 1.4em 'dual300';
        font-weight: bold;
        padding-top: 2.3%;
        padding-bottom: 2.3%;
        margin-bottom: 6%;
    }
    
    .grafico_parte2_img1,
    .grafico_parte2_img2{
        float: left; 
        width: 100%; 
        text-align: center;
        margin: 0; 
        padding: 0;
    } 

    .grafico_parte2_img1 img,
    .grafico_parte2_img2 img{
        width: 67%;
        margin-bottom: 6%;
    }

    .txt_parte2_lado_equerdo,
    .txt_parte2_lado_direita{
        float: left; 
        width: 100%;
    }
        
    .txt_parte2_lado_equerdo h1,
    .txt_parte2_lado_direita h1{
        width: 92%;
        font: 1.3em 'dual300';
        font-weight: bold;
        margin-top: 3%;
    }

    .txt_parte2_lado_direita ul, 
    .txt_parte2_lado_equerdo ul, 
    .txt_parte2_lado_direita ul{
        width: 80%;
        list-style: initial;
    }

    .txt_parte2_lado_equerdo ul li, 
    .txt_parte2_lado_direita ul li{
        float: left; 
        width: 100%; 
        font: 1.1em 'dual300';
        color: #454545;
        margin-bottom: 5%;
        text-align: justify;
    }

    .il_parte_saibamais_direita{
        margin-bottom: 15% !important;
    }

    .txt_parte2_lado_equerdo ul li img, 
    .txt_parte2_lado_direita ul li img{
        display: none;
    }
    
    .txt_parte2_lado_direita p{
        width: 80%;
        font-size: 1.1em;
    }
    
    .empurra_saibamais_parte2{
        margin-bottom: 0; 
    }
    /* ---------------------------------
    FIM DO HARMONY PARTE 2
    --------------------------------- */
    
    /* ---------------------------------
    MAPA
    --------------------------------- */
    .tt_des_mapa{display: none;}
    
     .env_desc_mapa{
        width: 100%;
        text-align: center;
        margin-top: 10%;
    }
    
    .tt_des_mapa_tablet{
        display: block;
        float: none;
        width: 90%;
        margin-top: 6%;
        padding-left: 5%;
        font: 1.3em 'dual300';
        text-align: center; 
    }

    .env_cont_mapa{
        display: none;
    }
    
    .env_opcoes_estados{display: block;}
    /* ---------------------------------
    FIM DO MAPA
    --------------------------------- */
    
    /* ---------------------------------
    LOGO DE CLIENTES
    --------------------------------- */
    .tt_imgs_logos{
        float: left; 
        width: 90%;
        margin-left: 5%;
        margin-bottom: 3%;
        font:1.3em 'dual300';
    }

    .env_imgs{
        width: 100%;
        margin-top: 2%;
    }

    .env_imgs_sub{
        float: left;
        text-align: center;
    }

    .env_imgs_sub img{
        width: 225px;
        opacity: 1;
    }
    
    .empurra_baixo_imgs_logos{margin-bottom: 9%;}
    /* ---------------------------------
    FIMDO DOS LOGO DE CLIENTES
    --------------------------------- */
    
    /* ---------------------------------
    PARCERIAS
    --------------------------------- */
    .env_img_parceria{
        float: left; 
        width: 100%;
        padding: 0 !important; 
        margin: 0 !important; 
        margin-top: 8%;
        margin-bottom: 0%;
        text-align: center;
    }

    .tt_parceiro_busca{ 
        font: 1.8em 'dual300';
        margin-top: 8%;
    }    
    .env_img_parceria img{
        width: 160px;
        float: none;
        padding-bottom: 0px; 
        margin-right: 0%;
    }
    
    .img_parc_clinicas{margin-top: 9% !important; margin-bottom: 5% !important;}
        
    .txt_parceria{
        width: 100%;
        text-align: center;
        margin-top: 0%;
        margin-bottom: 8%;
    }

    .txt_parceria p{
        float: none; 
        font-size: 1.1em;
        width: 90%;
        margin-top: 0%;
        margin-bottom: 6%;
        text-align: center;
    }

    .txt_parceria a{
        float: none;
        margin-left: 0%;
    }
    /* ---------------------------------
    FIM DA PARCERIAS
    --------------------------------- */
    
    /* ---------------------------------
    RESULTADOS DE BUSCAS.
    --------------------------------- */
    .p_mobile{display: block;}   
    .p_desk{display: none}
    
    .nome_cidade_perfil h1{
        width: 99.5%;
        padding: 0;
        margin: 0;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 1em;
    }    
    .env_logo_nome{
        width: 100%;
    }
    
    .tt_lista_perfils{
        width: 85%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        margin-bottom: 0px;
        background: #f37d1d;
        color: #fff;
        font: 1em 'dual300';
        font-weight: bold; 
        margin-top: 15%;
    }

    .perfil_encontrado{
        float: left; 
        width: 100%;
        margin-top: 7%;
    }
    
    .img_nome{
        float: none; 
        margin: 0 auto; 
        width: auto;
        width: 60%;
    }

    .img_nome img{
        float: left;
        width: 99.5%;
        border: 1px solid #e0dfdf; 
        border-bottom: 0px;
    }

    .img_nome p{ 
        font: 1em 'dual300';
    } 
     
    
    .env_detalhes_geral{
        width: 100%;
    }
    
    .detalhes{
        float: none;
        margin-top: 0;
    }

    .detalhes1{
        width: 90%;
        height: auto;
        margin-left: 5%;
        border: 1px solid #e0dfdf;
    }

    .det_telefone,
    .det_site,
    .det_email,
    .det_mapa,
    .det_endereco,
    .det_bairrocep{
        float: left; 
        width: 100%; 
        margin-top: 1.5%;
    }

    .det_telefone img,
    .det_site img,
    .det_email img,
    .det_mapa img,
    .det_endereco img{ 
        width: 18px;
    }

    .det_telefone p,
    .det_site p,
    .det_email p,
    .det_mapa p,
    .det_endereco p,
    .det_bairrocep p{
        float: left; 
        width: 90%;
        font: 1em 'dual300';
    }
    
    .det_bairrocep{
        margin-bottom: 1.5%;
        width: 90%;
        margin-left: 6%;
    }

    .detalhes2{
        width: 90.4%;
        margin-left: 5%;
    }

    .detalhes2 p{
        float: left; 
        font: 1em 'dual300';
        color: #fff; 
        margin: 0; 
        margin-left: 2%;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    .env_img_localtem{
        margin-top: 1.5%;
    }

    .env_img_localtem img{
        float: left; 
        width: 17px; 
        padding-left: 10%;
    }

    .img_etacionamento{width: 35px !important;}

    .det2_unidades,
    .det2_unidades_unica{
        font: 1em 'dual300';
    }
    
    .empurra_perfils{
         margin-bottom: 11%;
    }
    
    .uf_nao_encontrado{
        width: 80%;
        margin-top: 7%;
        margin-left: 10%;
        font: 1.5em 'dual300'; 
        font-weight: bold;
    }

    .resultados_entreemcontato{
        float: left; 
        width: 60%;
        margin-left: 20%;
        font: 1.2em 'dual300';
        color: #73aa95;
        text-align: center;
    }
    
    .editar_cliente{
        float: left; 
        width: 82.1%; 
        text-align: center;
        margin: 0;
        margin-left: 5%;
        font: 1.1em 'dual300';
        color: #797979;
        padding: 1.5%;
        padding-left: 4%;
        padding-right: 4%;
    }
    /* ---------------------------------
    FIM DOS RESULTADOS DE BUSCAS.
    --------------------------------- */
    
    /* ---------------------------------
    ESTUDOS CLÍNICOS
    --------------------------------- */
    .tt_estudos_clinicos{
        display: none;
    }
    
    .env_estudos_clinicos{
        display: none;
    }
    /* ---------------------------------
    FIM DOS ESTUDOS CLÍNICOS
    --------------------------------- */
    
    /* ---------------------------------
    INSTRUÇÕES DE USO
    --------------------------------- */
    .tt_como_feito{
        font: 1.3em 'dual300';
        color: #815374; 
        font-weight: bold;
        margin-top: 16%;
    }

    .sub_como_feito{
        width: 90%;
        font: 1.1em 'dual300';
        padding-left: 5%; 
        padding-right: 5%;
    }

    .env_img_instucoes{
        float: left; 
        width: 100%;
        margin-top: 0%;
    }
    
    .img_txt{
        float: left; 
        width: 100%; 
        margin-top: 7%;
    }
    
    .imgagem_nstrucoes{
        float: left; 
    }
    
    .imgagem_nstrucoes img{
        float: right; 
        width: 130px;
    }

    .txt_instrucoes{
        float: left;
    }

    .bolinha_ordem{
        width: 23px;
        height: 23px;
        margin-left: 4.6%;
        margin-right: 80%;
        border-radius: 100%;
        font: 0.7em Arial;
    }
    
    .txt_instrucoes h3{
        font: 1.1em 'dual300';
        font-weight: bold;
    }

    .txt_instrucoes p{
        width: 85%;
        font: 1.1em 'dual300';
        color: #76ad9a;
        text-align: justify;
    }
    /* ---------------------------------
    FIM DAS INSTRUÇÕES DE USO
    --------------------------------- */
    
    /* ---------------------------------
    LAUDOS E OUTROS EXAMES
    --------------------------------- */
    .env_laudo_exames p{
        font: 1.1em 'dual300';
        color: #fff;
    }

    .img_laudo{
        float: left; 
    }

    .img_laudo img{
        float: right; 
        width: 130px;
        margin-right: 18%;
    }

    .txt_laudo p{
        float: left; 
        width: 85%;
        margin-top: 4%;
        margin-left: 0%;
    }

    .img_nous img{
        float: right;
        width: 130px;
        margin-top: 3%;
        margin-right: 18%;
    }

    .txt_nous p{
        float: left;
        width: 85%;
        margin-top: 2%;
        margin-left: 0%;
    }

    .txt_nous p a,
    .txt_laudo p a{
        font-size: 0.8em;
    }
    /* ---------------------------------
    FIM DOS LAUDOS E OUTROS EXAMES
    --------------------------------- */
    
    /* ---------------------------------
    CONTATO
    --------------------------------- */
    .env_logotipo{
        margin-top: 17%;
    }

    .env_logotipo img{
        width: 410px; 
    }

    .txt_apresentacao_contato{
        float: left; 
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .form_contato{
        /*margin: 0 auto;*/
        width: 80%;
    }

    .txt_contato{
        float: left; 
        width: 100%;
        margin-top: 0%;
    }
    
    .mapa_contato{
        float: left;
        width: 100%;
        margin-top: 2%;
        margin-bottom: 10%;
    }

    .mapa_contato iframe{
        float: left; 
        margin-left: 5%;
        width: 90%;
        height: 300px;
    }

    .tt_cont_form,
    .tt_cont_desc{
        margin-top: 8%;
        margin-bottom: 0%;
    }

    .tt_cont_desc{margin-top: 10%; margin-bottom: 4%;}
    /* ---------------------------------
    FIM DO CONTATO
    --------------------------------- */
    
    /* ---------------------------------
    LOGIN
    --------------------------------- */
    .env_logotipo_login{
        margin-top: 18%;
    }

    .env_logotipo_login img{
        width: 60%; 
    }

    .env_logotipo_login p{
        font: 1.1em 'dual300';
        margin-top: 3%;
        padding-top: 1.2%;
        padding-bottom: 1.2%;
    }

    .form_login{
        width: 60%;
    }

    .form_login h3{
        font: 1.5em 'dual300';        
        font-weight: bold;
    }

    .form_login input[type="email"],
    .form_login input[type="password"]{
        font: 1em 'dual300';
    }

    .form_login input[type="submit"]{
        font: 1em 'dual300';
        padding: 3%;
    }
    
    .empurra_form_login_baixo{
        float: left; 
        width: 100%;
        margin-bottom: 10%;
    }
    /* ---------------------------------
    FIM DO LOGIN
    --------------------------------- */
    
    /* ---------------------------------
    Admin
    --------------------------------- */
    .tt_area_admin{
        font: 1.4em 'dual300';
        color: #717171;
        font-weight: bold;
        margin-top: 16%;
    }

    .env_cad_cli{
        float: left; 
        width: 100%;
    }

    .env_cad_cli h1{
        padding-top: 1.5%;
        padding-bottom: 1.5%;    
    }
    
    .form_cad_cli label{
        font: 1em 'dual300';
    }

    .form_cad_cli input[type="submit"]{
        font: 1em 'dual300';
        padding: 2.5%;        
    }

    .form_cad_cli input[type="file"]{
        padding-top: 1.3%;
        padding-bottom: 0%;
    }
    
    .form_cad_cli select{
        height: 33px;
        background: #ffffff !important;
    }
    
    .env_relatorio{
        float: left; 
        width: 100%;
    }

    .tt_cli_ativos,
    .tt_cli_inativos{
        font: 1.4em 'dual300';
        margin-top: 10%;        
    }
    
    .ls_todos_cli_ativos,
    .ls_todos_cli_inativos{
        width: 55%;
        margin-left: 22.5%;
        margin-top: 8%;
        margin-bottom: 1%;
    }
    
    .form_listar_cli input[type="submit"]{
        float: left; 
        width: 50%;
        font: 1em 'dual300';
        margin-left: 25%;
        margin-top: 7% !important;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }

    .total_clientes{
        width: 35%;
        font: 1em 'dual300' !important;
        margin-left: 32.5%;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-top: 7%;
        margin-bottom: 10%;
    }
    /* ---------------------------------
    FIM DO Admin
    --------------------------------- */
    
    /* ---------------------------------
    ALTERAR DADOS CLIENTE
    --------------------------------- */
    .logo_alterar img{
        width:50%;
    }
    
    .form_logo input[type="file"]{
        font: 1em 'dual300';
        margin: 0;
    }
    
    .form_logo span{
        margin-top: 2%;
    }
    
    .form_logo .span_bto_editarcli{
        margin-top: 3%;
    }
        
    .excluirlogo{
        padding-left: 4% !important;
        padding-right: 4% !important;
        font: 1em 'dual300' !important;
        padding: 2% !important;
    }
        
    .form_logo input[type="submit"]{
        width: 27%;
        font: 1em 'dual300';
        padding: 2% !important;
    }
    /* ---------------------------------
    FIM DO ALTERAR DADOS CLIENTE
    --------------------------------- */
    
    /* ---------------------------------
    RODAPE
    --------------------------------- */
    .copyright{
        width: 100%;
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .copyright p{
        float: none; 
        text-align: center; 
        margin-left: 0;
        font: 1em 'dual300';
    }

    .logo_labconous{
        float: right; 
        width: 100%;
        margin-top: 20px;
        margin-bottom: 0px;
        padding-bottom: 5px;
        text-align: center; 
    }

    .logo_labconous img{
       float: none; 
       width: 160px;  
       margin-right: 0; 
    }

    .copyright_2{
        display: none;
    }

    .copyright_2{display: block;}
    .copyright_1{display: none;}
    /* ---------------------------------
    FIM DO RODAPE
    --------------------------------- */
}

/*TABLET - PAISAGEM  OU MONITORES ANTIGOS(ENTRE 769PX E 960PX)*/
@media all and (min-width: 769px) and (max-width: 960px){
    /* ---------------------------------
    MENU RESPONSIVO
    --------------------------------- */
    .menu_desktop{display: none;}
    
    .menu_responsivo{display: block;}
    /* ---------------------------------
    FIM DO MENU RESPONSIVO
    --------------------------------- */
    
    /* ---------------------------------
    VÍDEO DO HOME 
    --------------------------------- */
    .logo_vd_home img{
        width: 17%;
    }
    
    .txt_grande{display: none;}
    .txt_medio{display: block;}
    
    .txt1_vd_home h1,
    .txt2_vd_home h1{
        width: 65%;
        font: 1.2em 'dual300';
    }
    
    .env_video{
        width: 65%;
    }
    /* ---------------------------------
    FIM DO VÍDEO DO HOME 
    --------------------------------- */
    
    /* ---------------------------------
    EXPLICAÇÃO HARMONY HOME
    --------------------------------- */
    .img_esquerda img,
    .img_direita img{
        width: 35%;
    }
    
    .txt_esquerda p{
        width: 80%;
    }

    .txt_direita p{
        width: 80%;
    }
    /* ---------------------------------
    FIM DA EXPLICAÇÃO HARMONY HOME
    --------------------------------- */
    
    /* ---------------------------------
    GRAFICOS DE TAXAS NO HOME
    --------------------------------- */
    .tt_graficos_home{
        font: 1.5em 'dual300';
        margin-top: 7%;
        margin-bottom: 4%;
    }
    
    .img_tx_falso_positivo img{
        width: 75%;
    }

    .img_tx_deteccao img{
        width: 70%;
    }

    /* ---------------------------------
    FIM DOS GRAFICOS DE TAXAS NO HOME
    --------------------------------- */
    
    /* ---------------------------------
    PORQUE O HARMONY?
    --------------------------------- */
    .tt_pq_harmony h1{
        font: 2.2em 'dual300';  
        margin-bottom: 0px; 
    }
    
    .pq_harmony{
        margin-top: 8%;
    }
    
    .pq_harmony:last-child{
        margin-bottom: 4% !important;
    }
    
    .img_pq_harmony{
        margin-right: 14% !important;
    }
    
    .img_pq_harmony img{
        margin-right: 10%;
    }
    
    .txt_pq_harmony{
        margin-left: 2%;
    }
    
    .txt_pq_harmony p{
        width: 80%;
        font: 1.1em 'dual300'; 
    }
    
    .txt_pq_harmony ul li{
        width: 80%;
    }
   
    /* ---------------------------------
    FIM DO PORQUE O HARMONY?
    --------------------------------- */
   /* ********************************** FIM DO HOME **************************************/

    /* ********************************** SAIBA MAIS **************************************/

    /* ---------------------------------
    DESCRITIVO SAIBA MAIS 
    --------------------------------- */
    .link_cont_desc {
        width:89.5% !important;
        margin-left: 7%;
    }
    
    .tt_umpouco_ciencia{ 
        width: 85%;
        margin-top: 11%; 
        margin-bottom: 3%;
        font: 1.4em 'Arial';
        padding-top: 0.6%;
        padding-bottom: 0.6%;
        border-radius: 0px 50px 50px 0px;
    }
    
    
    .resp-tabs-list li{
        position: relative;
        float: left;
        width: 84%;
        font-weight: bold;
        font: 1.1em 'dual300';
        color: #895180;    
        display: inline-block;
        margin: 0;
        list-style: none;
        cursor: pointer;
    }
    
    .ul_teste_saibamais,
    .ul_vantagens_desc_saibamais,
    .ul_significado_saibamais{
        width: 82%; 
        font: 1.1em 'dual300';
        margin-right: 4%;
        margin-left: 0;
        text-align: justify !important;
    }
    
    .ul_teste_saibamais li,
    .ul_significado_saibamais li,
    .ul_vantagens_desc_saibamais li{
        padding-top: 2%;
        width: 100%;
        
    }
    /* ---------------------------------
    FIM DO DESCRITIVO SAIBA MAIS 
    --------------------------------- */   
    
    /* ---------------------------------
    AVISO SAIBA MAIS
    --------------------------------- */
    .img_aviso{
        width: 100px; 
        margin-right: 5%;
    }

    .texto_aviso{ 
        width: 90%;
        font: 1.1em 'dual300';
    }
    /* ---------------------------------
    FIM DO AVISO SAIBA MAIS
    --------------------------------- */
    
    /* ---------------------------------
    TRIAGEM ATUAL 
    --------------------------------- */
    .tt_triagem_atual{
        width: 90%;
        text-align: center; 
        font: 1.7em 'dual300';
        margin-top: 9%; 
        font-weight: bold;
    }

    
    .grafico_triagem_atual{
        float: left; 
        width: 100%;
        text-align: center !important; 
    }
    
    .grafico_triagem_atual img{
        float: none !important;
        width: 540px;
        margin-right: 0 !important;
        margin-top: 1%;
        margin-bottom: 0;
    }

    .txt_triagem_atual{
        float: left;
        width: 100%;
    }
    
    .txt_triagem_atual ul{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 9%;
    }

    .txt_triagem_atual ul li{
        text-align: justify;
        padding-top: 5%;
        font-size: 1.2em;
    }
    /* ---------------------------------
    FIM DA TRIAGEM ATUAL 
    --------------------------------- */
    
    /* ---------------------------------
    HARMONY PARTE 1 - SAIBA MAIS
    --------------------------------- */
    .circulo{
        margin-bottom: 30px;
    }
    /* ---------------------------------
    FIM DO HARMONY PARTE 1 - SAIBA MAIS
    --------------------------------- */
    
    /* ---------------------------------
    HARMONY PARTE 2
    --------------------------------- */
    .tt_faixa_harmony_parte2{
        background: #7db09a;
        font: 1.5em 'dual300';
        font-weight: bold;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        margin-bottom: 5%;
    }
    
    .grafico_parte2_img1,
    .grafico_parte2_img2{
        float: left; 
        text-align: center;
        margin: 0; 
        padding: 0;
    } 

    .grafico_parte2_img1 img,
    .grafico_parte2_img2 img{
        width: 92%; 
    }

    .txt_parte2_lado_equerdo h1,
    .txt_parte2_lado_direita h1{
        width: 92%;
        font: 1.3em 'dual300';
        font-weight: bold;
    }

    .txt_parte2_lado_direita ul, 
    .txt_parte2_lado_equerdo ul, 
    .txt_parte2_lado_direita ul{
        width: 80%;
    }

    .txt_parte2_lado_equerdo ul li img, 
    .txt_parte2_lado_direita ul li img{
        margin-bottom: 150px;
    }

    .txt_parte2_lado_direita p{
        width: 80%;
    }
    /* ---------------------------------
    FIM DO HARMONY PARTE 2
    --------------------------------- */
    
/* ********************************** FIM DO SAIBA MAIS **************************************/

    /* ---------------------------------
    MAPA
    --------------------------------- */
    .env_desc_mapa{
        float: left; 
        width: 100%;
        text-align: center;
        margin-top: 10%;
    }

    .tt_des_mapa{display: none;}
    
    .tt_des_mapa_tablet{
        display: block;
        float: none;
        width: 90%;
        margin-top: 1%;
        padding-left: 5%;
        font: 1.5em 'dual300';
        color: #945f8b;
        text-align: center; 
    }

    .env_cont_mapa{
        float: left; 
        width: 100%;
        text-align: center;
        margin-top: 3%;
        margin-bottom: 7%;
    }

    .mapa{
        float: none;
    }
    /* ---------------------------------
    FIM DO MAPA
    --------------------------------- */
    
    /* ---------------------------------
    LOGO DE CLIENTES
    --------------------------------- */
    .tt_imgs_logos{
        float: left; 
        width: 60%;
        margin-left: 20%;
        font:1.5em 'dual300';
        margin-top: 8%;
        margin-bottom: 5%;
    }

    .env_imgs{
        float: left;
        width: 100%;
        margin-top: 3%;
        text-align: center;
    }

    .env_imgs_sub{
        float: left;
        text-align: center;
    }

    .env_imgs_sub img{
        width: 318px;
        opacity: 0.70;
        cursor: pointer;
    }

    .env_imgs_sub img:hover{
        opacity: 1;
    }
    
    .empurra_baixo_imgs_logos{
        float: left; 
        width: 100%;
        margin-bottom: 8%;
    }
    /* ---------------------------------
    FIMDO DOS LOGO DE CLIENTES
    --------------------------------- */
    
    /* ---------------------------------
    PARCERIAS
    --------------------------------- */
    .env_img_parceria img{
       margin-right: 13%; 
    }
    
    .txt_parceria p{
        margin-top: 7%;
        width: 80%;
        text-align: justify;
        margin-top: 3%;
    }

    .txt_parceria a{
        margin-left: 15%;
    }
    /* ---------------------------------
    FIM DA PARCERIAS
    --------------------------------- */
    
    /* ---------------------------------
    RESULTADOS DE BUSCAS.
    --------------------------------- */
    .p_mobile{display: block;}   
    .p_desk{display: none}
   
    .nome_cidade_perfil h1{
        width: 366px;
        padding: 0;
        margin: 0;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .env_logo_nome{
        width: 100%;
    }
    
    .tt_lista_perfils{
        width: 75%;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-bottom: 0px;
        background: #f37d1d;
        color: #fff;
        font: 1.2em 'dual300';
        font-weight: bold; 
        margin-top: 11%;
    }

    .perfil_encontrado{
        float: left; 
        width: 100%;
        margin-top: 6%;
    }
    
    .img_nome{
        float: none; 
        margin: 0 auto; 
        width: 368px;
    }

    .img_nome img{
        float: left;
        width: 366px;
        border: 1px solid #e0dfdf; 
        border-bottom: 0px;
    }
    
    .env_detalhes_geral{
        width: 100%;
    }
    
    .detalhes{
        float: none;
        margin-top: 0px;
    }

    .detalhes1{
        float: left; 
        width: 80%;
        height: auto;
        margin-left: 10%;
        background: #fbf9f9;
        border: 1px solid #e0dfdf;
    }

    .det_telefone,
    .det_site,
    .det_email,
    .det_mapa,
    .det_endereco,
    .det_bairrocep{
        float: left; 
        width: 100%; 
        margin-top: 1.5%;
    }

    .det_bairrocep{
        margin-left: 0%;
        margin-bottom: 1.5%;
    }

    .detalhes2{
        float: left;
        width: 80.4%;
        margin-left: 9.9%;
        background: #73aa95;
    }
    
    .editar_cliente{
        float: left; 
        width: 72.2%; 
        text-align: center;
        margin: 0;
        margin-left: 9.9%;
        font: 1.1em 'dual300';
        color: #797979;
        padding: 1%;
        padding-left: 4%;
        padding-right: 4%;
    }
    
    .env_img_localtem{
        margin-top: 2%;
    }

    .env_img_localtem img{
        float: left; 
        width: 17px; 
        padding-left: 10%;
    }

    .img_etacionamento{width: 35px !important;}

    /* ---------------------------------
    FIM DOS RESULTADOS DE BUSCAS.
    --------------------------------- */
    
    /* ---------------------------------
    ESTUDOS CLÍNICOS
    --------------------------------- */
    .tt_estudos_clinicos{
        margin-top: 11%;
        font: 1.4em 'dual300';
        font-weight: bold;
    }

    .env_conteudo{
        margin: 0 auto; 
        width: 98%;
    }
    
    .p_lat_1{
        float: left; 
        width: 13%;
    }

    .p_lat_2{
        float: left; 
        width: 37%;
        border-right: 2px solid #fff;
    }

    .p_lat_3{
        float: left; 
        width: 15%;
        border-right: 2px solid #fff;
    }
    
    .tt_vazio,
    .tt_estudo,
    .tt_participantes,
    .tt_referencias{
        font: 0.9em 'dual300';
    }

    .tt_vazio{
        background: #fff;
        color: #fff;
    }

    .p_laranja_forte,
    .p_roxo_forte,
    .p_laranja,
    .p_roxo{
        font: 0.9em 'dual300';
    }

    .p_laranja_forte{
        padding-top: 95px;
        padding-bottom: 95px;
    }

    .p_roxo_forte{
        padding-top: 49px;
        padding-bottom: 48px;
    }

    /* ---------------------------------
    FIM DOS ESTUDOS CLÍNICOS
    --------------------------------- */
    
    /* ---------------------------------
    INSTRUÇÕES DE USO
    --------------------------------- */
    .tt_como_feito{
        font: 1.4em 'dual300';
        color: #815374; 
        font-weight: bold;
    }

    .sub_como_feito{
        font: 1.2em 'dual300';
    }

    .env_img_instucoes{
        float: left; 
        width: 100%;
        margin-top: 5%;
    }

    .env_img_instucoes:last-child{
        margin-bottom: 7%;
    }

    .imgagem_nstrucoes img{
        float: right; 
        width: 130px;
    }

    .txt_instrucoes h3{
        font: 1.1em 'dual300';
        font-weight: bold;
    }

    .txt_instrucoes p{
        font: 1.1em 'dual300';
        color: #76ad9a;
        text-align: justify;
    }
    /* ---------------------------------
    FIM DAS INSTRUÇÕES DE USO
    --------------------------------- */
    
    /* ---------------------------------
    LAUDOS E OUTROS EXAMES
    --------------------------------- */
    .env_laudo_exames p{
        font: 1.2em 'dual300';
        color: #fff;
    }

       .img_laudo{
        float: left; 
    }

    .img_laudo img{
        margin-right: 10%;
    }

    .txt_laudo p{
        float: left; 
        width: 70%;
        margin-top: 4%;
        margin-left: 0%;
    }

    .img_nous img{
        float: right;
        width: 150px;
        margin-right: 10%;
    }

    .txt_nous p{
        float: left;
        width: 70%;
        margin-top: 1%;
        margin-left: 0%;
    }
    /* ---------------------------------
    FIM DOS LAUDOS E OUTROS EXAMES
    --------------------------------- */
    
    /* ---------------------------------
    CONTATO
    --------------------------------- */
    .env_logotipo{
        margin-top: 12%;
    }

    .env_logotipo img{
        width: 470px; 
    }

    .form_contato{
      width: 65%;
    }
    /* ---------------------------------
    FIM DO CONTATO
    --------------------------------- */
    
    /* ---------------------------------
    LOGIN
    --------------------------------- */
    .env_logotipo_login{
        margin-top: 14%;
    }

    .env_logotipo_login img{
        width: 380px; 
    }

    .env_logotipo_login p{
        font: 1.2em 'dual300';
        margin-top: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .form_login{
        width: 47%;
    }

    .form_login input[type="email"],
    .form_login input[type="password"]{
        font: 1.1em 'dual300';
    }
    
    .empurra_form_login_baixo{
        float: left; 
        width: 100%;
        margin-bottom: 8%;
    }
    /* ---------------------------------
    FIM DO LOGIN
    --------------------------------- */

    /* ---------------------------------
    ADMIN
    --------------------------------- */
    .tt_area_admin{
        font: 1.6em 'dual300';
        font-weight: bold;
        margin-top: 12%;
    }
    
    .form_cad_cli{
        width: 80%;
        margin-left: 10%;
    }

    .form_cad_cli label{
        font-size: 1em !important;
    }
    
    .form_cad_cli input[type="file"]{
        padding-top: 1.7%;
        padding-bottom: 0%;
    }
    
    .tt_cli_ativos, .tt_cli_inativos{font-size: 1.3em; margin-top: 13%;}
    
    .ls_todos_cli_ativos,
    .ls_todos_cli_inativos{
        width: 75%;
        margin-left: 12.5%;
        margin-top: 4%;
        margin-bottom: 3%;
    }
    
    .form_listar_cli{width: 60%; margin-left: 20%; margin-bottom: 5%;}
    
    .total_clientes{
        width: 45%;
        margin-left: 27.5%;
        font-size: 1em;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-bottom: 13%
    }
    /* ---------------------------------
    FIM DO ADMIN
    --------------------------------- */
    
    /* ---------------------------------
    ALTERAR DADOS CLIENTE
    --------------------------------- */
    .logo_alterar img{
        width:60%;
        /*border: 1px solid #e0dfdf;
        margin-top: 2%;*/
    }

    
    .form_logo input[type="file"]{
        font: 1em 'dual300';
        margin: 0;
    }

    .excluirlogo{
        padding-left: 4% !important;
        padding-right: 4% !important;
    }
    
    .form_logo input[type="submit"]{
        width: 30%;
    }
    /* ---------------------------------
    FIM DO ALTERAR DADOS CLIENTE
    --------------------------------- */

    /* ---------------------------------
    RODAPE
    --------------------------------- */
    .copyright{
        width: 100%;
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .copyright p{
        float: none; 
        text-align: center; 
        margin-left: 0;
        font: 1em 'dual300';
    }

    .logo_labconous{
        float: right; 
        width: 100%;
        margin-top: 20px;
        margin-bottom: 0px;
        padding-bottom: 5px;
        text-align: center; 
    }

    .logo_labconous img{
       float: none; 
       width: 160px;  
       margin-right: 0; 
    }

    .copyright_2{
        display: none;
    }

    .copyright_2{display: block;}
    .copyright_1{display: none;}
    /* ---------------------------------
    FIM DO RODAPE
    --------------------------------- */    
}
